<div class="container">
  <div class="container-h1">
    <h1>Community</h1>
  </div>
  <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5">
    {{#each users}}
      {{#if public}}
        <div class="col">
          <h2 class="community-user">User: {{username}}</h2>
          <form action="/voteUp" method="POST">
            <input
              type="hidden"
              name="loggedUser"
              value={{userInSession._id}}
            />
            <input type="hidden" name="votedUser" value={{_id}} />
            <button type="submit">Vote</button>
          </form>
          <p class="votes">{{votes.length}}</p>
          {{#each favorites}}
            <div class="card shadow-sm">
              <p><b>Name: </b>{{first_name}} {{last_name}}</p>
              <p><b>Position: </b>{{position}}</p>
              <p><b>Conference: </b>{{team.conference}}</p>
              <p><b>Team: </b>{{team.full_name}}</p>
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>